<body>
    <main>
        <h1 class="h1" id="test">Archivos Subidos</h1>

        <div>
            {{#if has_files}}
            <table class="latest-files-table" id="latest_files_tbl">
                <thead>
                    <tr>
                        <td><b>Nombre</b></td>
                        <td><b>Descripción</b></td>
                        <td><b>Fecha de creación</b></td>
                        <td><b>Última fecha de modificación</b></td>
                    </tr>
                </thead>
                <tbody>
                    {{#each files}}
                    <tr>
                        <td>{{this.name}}</td>
                        <td>{{this.description}}</td>
                        <td>{{this.creation_datetime}}</td>
                        <td>{{this.last_modified_datetime}}</td>
                        <td><button type="button" class="btn">Descargar</button></td>
                        <a href="./file-history.hbs"><td><button type="button" class="btn">Ver historial</button></td></a>
                        <td><button type="button" class="btn">Eliminar</button></td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
            {{else}}
            <h2>No tienes archivos subidos</h2>
            {{/if}}
        </div>
        <button type="button" class="btn" id="upload_btn">Subir archivo</button>
    </main>
    <script src="/client/files.js"></script>
</body>

